/*-- scss:defaults --*/

/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

.quarto-title-block .quarto-title-banner {
  background-image: url(https://cdn.prgloo.com/media/3a5687b971e54a288576bbecd6cb05aa.jpg);
  background-color: white;
  background-size: 100px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-bottom: 100px;
  padding-top: 50px;
  background-origin: content-box;
  h1 {
  color: #007C91;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #007C91;
}
